.gráfica{
    background-color: var(--Gris);
    margin: 0.5rem;
    border-radius: 7px;
    width: 95%;
    height: 70%; 
    padding-top: 2.5rem;
}
.gráficam{
    background-color: var(--Gris);
    margin: 0.5rem;
    border-radius: 7px;
    width: 95%;
    height: 70%; 
    padding-top: 3rem;
}

.tbtit{
    background-color: var(--MoradoClaro);
    width: 24rem;
    border-radius: 7px;
    padding: 0.5rem;
    text-align: center;
}

.tbgir{
    background-color: var(--Gris);
    border-radius: 7px;
    width: 24rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;
    text-align: center;
}
.tbtemp{
    background-color: var(--Gris);
    border-radius: 7px;
    width: 24rem;
    padding: 0.5rem;
    text-align: center;
}

.lata2{
    margin: 1rem 1rem 1rem 0rem;
    width: 80%;
    height: 30%;
}